<div class="home-wrapper">
  <section id="home" class="container">
    <div class="parrafo">
      <br>
      <br>
      <br>
      <br>
      <h1>Consigue los mejores <b>Productos de técnologia</b> para tu entretenimiento</h1>
      <p><b>Esta tienda</b> es la mejor opción para tener ese articulo tecnológico que deseas.</p>
    </div>
  </section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand always">Tienda</a>
    </div>
  </nav>
  <section id="main">
    <!--Main Router-->
    <router-outlet></router-outlet>
  </section>
  <footer id="footer" class="col-lg-12">
    <p>Prueba técnica - Miguel Ortiz </p>
  </footer>